:root {
    --darkblue: #383D48; 
    --sand: #A39C84;
    --blue: #87afed;
}
* {
    margin: 0px;
    font-family: -apple-system, sans-serif;
    color: white;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Generic */
p {
    line-height: 1.5em;
    overflow-y: hidden;
}
a {
    text-decoration: none;
}
input {
    margin-bottom: 5%;
    margin-top: 2%;
}
input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: var(--darkblue) 2px solid;
    color: var(--darkblue);
}
span, div {
    overflow-y: hidden;
}
li {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Homepage */

/* Navigation bar */
#navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
}
.navitem {
    color: white;
    background-color: var(--darkblue);
    flex: 1;
    padding: 1.5vh;
    text-align: center;
}
.navitem:hover {
    color: var(--darkblue);
    background-color: white;
}
.nameitem {
    flex: 40%;
    background-color: var(--darkblue);
    padding: 1.5vh;
    padding-left: 30%;
}

/* Portrait title screen */
#potrait-div {
    text-align: center;
    background-image: url("images/portrait.JPG");
    background-position: 50% 20%;
}
#name {
    position: absolute;
    width: 100%;
    top: 10%;
    color: white;
}

/* More about me */
#under-portrait-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkblue);
    padding: 15vh 4vw 15vh 4vw;
}
#winter-portrait {
    flex-grow: 0;
    height: 80%;
    width: auto;
    float: left;
    margin-left: 20vw;
}
#introduction {
    flex-grow: 1;
    flex: 80%;
    color: white;
    float: right;
    padding-left: 5vw;
}

/* Contact me */
#contact {
    background-image: url("images/landscape.jpg");
    position: relative;
}
#contact-submit-button {
    background-color: var(--darkblue);
    width: 40%;
    border-radius: 20px;
    padding: 10px;
    border: white 1px solid;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* About Me Page */

/* Title section */
#title-section-div {
    background-image: url("images/lights.jpg");
    background-position: 50% 50%;
    padding-left: 13%;
}

/* Self introduction */
#self-introduction-div {
    background-color: var(--darkblue);
    padding: 15vh 4vw 15vh 4vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
#cruise-picture {
    flex: 25%;
}
#introductory-text {
    flex: 75%;
    padding-right: 3vw;
    padding-left: 5vw;
}

/* Book */
#book-div {
    background-image: url("images/book.jpg");
}

/* Social media */
#social-media-div {
    background-image: url("images/landscape2.jpg");
    background-position: center center;
}
.icon-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 15px;
}
.icon {
    flex: 10%;
    height: auto;
}
.icon-text {
    flex: 90%;
    padding-left: 2vw;
}

/* General */
.rounded-faded-background {
    background: #383D4860;
    width: 50%;
    border-radius: 5vh;
    position: relative; 
    top: 50%;
    transform: translateY(-50%);  
    margin: auto;
    padding-left: 5vmin;
    padding-right: 5vmin;
    padding-top: 10vmin;
    padding-bottom: 10vmin;
}
.cover-screen {
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
    background-repeat: none;
    background-size: cover;
}
.big-title {
    font-size: 6vmax;
}
.subheading-font {
    font-size: 3vmax;
}
.subheading2-font {
    font-size: 2vmax;
}
.p1 {
    font-size: 1.5vmax;
}
.p2 {
    font-size: 1.2vmax;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: 600;
}
.center-horizontal {
    text-align: center;
}
.center-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.bottom-margin {
    margin-bottom: 2vh;
}
.blue {
    color: var(--darkblue);
}
.link {
    text-decoration: underline;
}
.link:hover {
    color: var(--blue);
}
.lower-margin {
    margin-bottom: 25px;
}
.blue {
    color: var(--darkblue);
}
.two-thirds {
    text-align: right;
    margin-right: 15vw;
    margin-top: 20vh;
}
li {
    color: var(--darkblue);
}
li:nth-child(even) {
    color: var(--blue);
}